<h1>New Item</h1>

<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
  </div>
  <div class="field">
	<%= f.label :position %><br />
	<%= f.text_field :position %>
  </div>
  <div class="actions">
	<%= f.submit "Create Item" %>
  </div>
<% end %>
